.containeredwin {
  flex-wrap: wrap;
   display: flex;
  color:white;
   background: black;
   height:100%;
   padding: 10px;
}
.containeredwin >article {
  background:#220000;
  width: 100px;
  height: 180px;
  border:1px solid white;
  border-radius:5px;
  margin: 5px;
}
.card-body {
  background:white;
  width:99px;
  border:1px solid white;
  height:90px;
}
.card-negro {
  background:black;
  width:99px;
  border:1px solid white;
  height:90px;
}
.card-negroasa {
  background:#111;
  width:99px;
  border:1px solid white;
  height:90px;
}
.card-gris-o {
  background:#333;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-azulmarino {
  background:navy;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-melangeoscuro {
  background:#555;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-melangeclaro {
  background:#888;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-violeta {
  background:darkmagenta;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-azulfrancia {
  background:royalblue;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-rojo-e {
  background:red;
  border:1px solid white;
  width:99px;
  height:90px;
}
.test {

  margin-top: 35px;

}
.card-bordo-e {
  background:brown;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-turquesa-e {
  background:#0055ff;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-turquesasuo {
  background:turquoise;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-mostaza {
  background:chocolate;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-beige {
  background:beige;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-verdementa {
  background:aquamarine;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-salmon {
  background:salmon;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-chicle {
  background:#ff00ff;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-durasno {
  background:lightsalmon;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-verde {
  background:mediumseagreen;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-Papaya {
  background:orange;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-rosapalido {
  background:pink;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-coral {
  background:coral;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-rosaoscuro {
  background:palevioletred;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-azulcielo {
  background:#0055ff;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-piel {
  background:sandybrown;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-turquesaoscuro {
  background:darkcyan;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-verdelimon {
  background:lawngreen;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-amarillo {
  background:yellow;
  border:1px solid white;
  width:99px;
  height:90px;
}
.card-celeste {
  background:aqua;
  border:1px solid white;
  width:99px;
  height:90px;
}
.list-group {
  margin-top:0;
  text-align:left;
}
ul {
    list-style-type:none;
    color: #f8f9f9;
    background: gray;
    padding: 5px;
}
li {
    background: #000;
         padding: 3px;
         margin-left:0;
}
.btn-outline-edwin {
    background-image:linear-gradient(#900 50%, #800 50%);
    font-weight:700;
    border:1px inset #f00;
    border-radius:3px;
    padding:5px;
    font-size:20px;	
    color:#fff;
}
.btn-outline-edwin:hover {
    background-image:linear-gradient(#800 50%, #900 50%);
    font-weight:900;
    border:1px inset #f00;
    font-size:20px;
    padding:3px;
    color:#fff;
}
.btn-outline-edwinc {
    background-image:linear-gradient(#009 50%, #005 50%);
    font-weight:700;
    border:1px inset #00f;
    border-radius:3px;
    float:left;
    padding:5px;
    font-size:15px;	
    color:#fff;
}
.btn-outline-edwinc:hover {
    background-image:linear-gradient(#005 50%, #009 50%);
    font-weight:900;
    border:1px inset #00f;
    font-size:10px;
    padding:5px;
    color:#fff;
}
.btn-outline-edwinfin {
    background-image:linear-gradient(#900 50%, #800 50%);
    font-weight:700;
    border:1px inset #f00;
    border-radius:3px;
    padding:5px;
    font-size:20px;	
    color:#fff;
}
.btn-outline-edwinfin:hover {
    background-image:linear-gradient(#800 50%, #900 50%);
    font-weight:900;
    border:1px inset #f00;
    font-size:20px;
    padding:6px;
    color:#fff;
}
.btn-verde {
    background-image:linear-gradient(#090 50%, #080 50%);
    font-weight:700;
    border:1px inset lime;
    border-radius:3px;
    margin:5px;
    float: right;
    font-size:25px;
    color:#fff;
}
.btn-poner {
    background-image:linear-gradient(#f33 50%, #f00 50%);
    font-weight:700;
    border:1px inset #f88;
    border-radius:3px;
    font-size:20px;
    margin:5px;
    float: right;
    color:#fff;
}
.vertienda {
  background:black;
  left:0;
  font-size:25px;

  padding:5px;
  position:fixed;
  border:none;
  color:white;
}
.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  z-index:1;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  z-index:1px;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}

/*================================
Ocultar texto
=================================*/

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
/*=====================================
position de texto
======================================*/
.text-start {
  text-align: left !important;
  text-shadow:0 0 5px black;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
.fincompra {
  background:black;
  width:100%;
}
.span {
  color:cyan;
  font-weight:500;
}
.flot-right {
  float:left;
}