<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/style.css"/>
        <link rel="stylesheet" href="styles/estilo.css"/>
        <title>Taller Textil</title>
    </head>
    <body>

    <div>
        <div class="formulario" id="sesion">
            <form class="form" >
                <label >Nombre:</label><br>
                <input type="text" name="usuario"/><br>
                <label >Passord:</label><br>
                <input type="password" name="contraseña"/><br>
                <input type="button" value="Entrar"/><br>
                <a href="registro.html" >Si no Tienes Cuenta Registrate Gratis</a>
            </form>
        </div>
    </div>
    </body>
    </html>