<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/style.css"/>
        <link rel="stylesheet" href="styles/estilo.css"/>
        <title>Taller Textil</title>
        <style >
           * {
            margin:0;
            }
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
}
.carousel-item {
  height: 37rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 37rem;
}
        </style>
    </head>
    <body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    <div class="content">
		<div class="load" id="load">
			<img class="img" src="img/logito.svg"/>
		</div>
	</div>
    <header id="header" ><img class="logo" src="img/logito.svg" />
        <a href='carrito.html'>
            <img class="user" src="img/carrodecompra.svg"/>
        </a>
    <a href='login.html'>
    <img class="user" src="img/user.svg" ></a>
    </header>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> 
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#001122"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h2>Quienes Somos.</h2>
            <p>Somos una empresa que ofrece la más amplia gama de telas y productos para la confección. Nuestra variedad incluye telas para sábanas, lonas, satín, tela chicle, velo suizo, tul, gabardinas, tela para camisa a cuadros, tela mil líneas, guata, pana, casimires, lanas, licras, dacrones finos, dacrones normales, tafetánes, casimires, telas tipicas, hilos, hilos para lonas, encajes, aplicaciones y mucho más.</p><br><br><br><br>
            <p><a class="btn-outline-edwin" href="#main">Ver Productos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#001122"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Misión.</h1>
            <p>Nuestra mision es surtir al Mercado de la confección, con las ultimas tendencias en telas, estampados, colores y acabados y ser la opción número uno a nivel nacional y regional.</p><br><br><br><br><br><br><br>
            <p><a class="btn btn-lg btn-outline-edwin" href="#main">Ver Productos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#001122"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Visión.</h1>
            <p>Mantenernos como líderes en el mercado textil en nuestro país, ofrecer lo más novedoso a mayoristas y minoristas, logrando así clientes con una satisfacción total.</p><br><br><br><br><br><br><br>
            <p><a class="btn btn-lg btn-outline-edwin" href="#main">Ver Productos</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
      
  <main class="container mt-5" id="main">
        <div class="containeredwin row text-center">
          
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Negro</h5>
                    <div class="card-negro">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Negro" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Negro Azabache</h5>
                    <div class="card-negroasa">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Negro Azabache" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Gris-o</h5>
                    <div class="card-gris-o">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Gris-o" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Azul Marino-E</h5>
                    <div class="card-azulmarino">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Azul Marino" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Melange Oscuro</h5>
                    <div class="card-melangeoscuro">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Melange Oscuro" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Melange Claro</h5>
                    <div class="card-melangeclaro">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Melange Claro" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Violeta</h5>
                    <div class="card-violeta">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Violeta" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Azul Francia</h5>
                    <div class="card-azulfrancia">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Azul Francia" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Rojo-E</h5>
                    <div class="card-rojo-e">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Rojo-E" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Bordo-E</h5>
                    <div class="card-bordo-e">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Bordo-E" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Turquesa-e</h5>
                    <div class="card-turquesa-e">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Turquesa-E" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Turquesa-suo</h5>
                    <div class="card-turquesasuo">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Turauesa-Suo" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Mostaza</h5>
                    <div class="card-mostaza">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Mostaza" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Beige</h5>
                    <div class="card-beige">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Beige" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Verde Menta</h5>
                    <div class="card-verdementa">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="verdementa" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Salmon</h5>
                    <div class="card-salmon">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Salmon" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Chicle</h5>
                    <div class="card-chicle">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Chicle" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Durasno</h5>
                    <div class="card-durasno">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Durasno" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Verde</h5>
                    <div class="card-verde">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Verde" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Papaya</h5>
                    <div class="card-Papaya">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Papaya" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Color Blanco</h5>
                    <div class="card-body">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Blanco" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Rosa Palido</h5>
                    <div class="card-rosapalido">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Rosa Palido" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Coral</h5>
                    <div class="card-coral">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Coral" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Rosa Oscuro</h5>
                    <div class="card-rosaoscuro">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Rosa Oscuro" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Azul Cielo</h5>
                    <div class="card-azulcielo">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="azulcielo" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Piel -O</h5>
                    <div class="card-piel">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Piel" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Turquesa -O</h5>
                    <div class="card-turquesaoscuro">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Turquesa Oscuro" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Verde Limon</h5>
                    <div class="card-verdelimon">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Verde Limon" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Amarillo</h5>
                    <div class="card-amarillo">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Amarillo" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
            
            <article class="col-sm-4 mb-3">
                <div class="card">
                    <h5 class="card-title">Celeste</h5>
                    <div class="card-celeste">
                    </div>
                    <p class="lead">A 30$ el Rollo</p>
                    <button class="btn btn-outline-edwinc" data-fruta="Celeste" data-precio="30"> <img src="img/carrodecompra.svg" width="20" height="20" /></button>
                </div>
            </article>
          
          </main>
         
         
      
    <template id="template">

         <li class="list-group-item text-white">
        <span class="badge span bg-primary rounded-pill align-middle">12</span>
        <span class="lead align-middle">Frutilla</span> 
       </li>
      
      <li class="list-group-item d-flex justify-content-between align-items-center">
        
        <div>
          <button class="btn btn-sm btn-verde">x</button>
           <button class="btn btn-sm btn-poner">✓</button>
        </div>
       <div>
          <p class="lead mb-0">Total: $<span class="total red">300</span> </p>
        </div>
      </li> 
      
      </template>
        
      </template>
    <script src="js/edwin.js"></script>
    <script src="js/main.js"></script>
    </body>
</html>
